<% if(typeof finalexamresult!== 'undefined'){ %>
<div class="columns is-centered">
  <div class="column is-half has-text-centered">
    <h1 class="title is-4 is-capitalized">
      <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>your
      correct answers
    </h1>
    <h1 class="title is-5 has-background-success has-text-white py-3">
      <%= correctanswer %>
    </h1>
    <h1 class="title is-4 is-capitalized">
      <i class="fa fa-times" style="color: red;" aria-hidden="true"></i>your
      wrong answers
    </h1>
    <h1 class="title is-5 has-background-danger has-text-white py-3">
      <%= finalexamresult.length %>
    </h1>
  </div>
</div>
<% if(finalexamresult.length===0) {%>
<h1 class="title is-4 is-capitalized has-text-centered has-text-link">
  congratulation ! you answered all questions correctly
</h1>
<% } %> <% } %> <% if (wronganswer.length>0){ %>
<h1 class="title is-3 is-capitalized">correct answers</h1>
<% wronganswer.forEach(element => { %>
<h1 class="title is-4">Q) &nbsp; <%= element.question %></h1>
<p
  class="title is-5 py-5 is-capitalized has-text-centered has-text-dark has-background-white"
>
  Ans: &nbsp;<%= element.correctanswer %>
</p>
<hr />

<% }); %> <% } %>
<p class="has-text-centered">
  <a href="/" class="button is-info mb-5">Back To Home page</a>
</p>
