<div class="wrapper">
  <h1 class="title is-1 "> Fun Quizzes For Kids</h1>
  <div class="all-quizes is-capitalized">
      <% diffquiz.forEach(el=>{ %>
        <div class="quiz-cards ">
            <h1 class="tag is-dark is-large"><%= el %> </h1><br>
            <a href="/exam/getexam/<%= el %>" class="button is-primary mt-2">Take quiz</a>
          </div>
      <% }) %> 
   
  </div>
  
</div>
</div>
<%- include('partials/footer') %>
