@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Playfair+Display:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  /* background-color: hsl(0, 0%, 98%); */
  background-color: hsl(48, 100%, 67%);
  /* background-color: hsl(48, 100%, 96%); */
}
body {
  margin: 0px;

  font-family: "Raleway", sans-serif;
  /* font-family: "Playfair Display", serif; */
  /* font-family: 'Montserrat Subrayada', sans-serif; */
  height: 100vh;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  width: 40%;
}
.answers p {
  color: grey;
  border: 2px dashed dodgerblue;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  width: 200px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 90vh;
}
.all-quizes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.quiz-cards {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  color: hsl(348, 100%, 61%);
  background-color: hsl(347, 90%, 96%);
}
.quiz-cards a:hover {
  transform: scale(1.2);
  transition-timing-function: ease;
}
